{% load static %}
<!DOCTYPE html>
    <!-- Base HTML File -->
    <!-- Displays the menu bar and logo for whole site -->
    <!-- head is for the meta data, not seen on the website -->
    <head>
        <!-- Uses UTF characters -->
        <meta charset="UTF-8">

        <!-- scales the webpage to the device -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--  -->
        <link rel="stylesheet" href="{% static 'bookings/styles.css' %}">

        <!-- Sets the name of the webpage on the tab -->
        <!-- Can be overwritten -->
        <title>{% block title %}Cinemaid{% endblock %}</title>


        <!-- Creates the 'settings' for the page -->
        <!-- This includes colors used, size of text, types of fonts, etc. -->
        <!-- Note: Made the CSS inline. More in README -->
         
        <!-- Added incase children HTML files add extra -->
        {% block extra_head %}{% endblock %}
    </head>

    <!-- Starting layout fot website -->
    <body>
        <header>
            <!-- Header for the page -->
             <!-- Text is a link back the "home" -->
            <h1><a href="{% url 'bookings' %}">
                Cinemaid
            </a>
            </h1>
        </header>
        <!-- Creates the interactive menu for the page -->
        <!-- The horizontal menu under the header -->
        <menu>
            
            <!--  -->
            <a href="{% url 'movies' %}">
                Book a Seat
            </a>
        </menu>
        <!-- Body of the page -->
         <!-- Overwritten by other pages -->
        <main>
                {% block content %}
                <!-- Body of website. Changes per page -->
                {% endblock %}
            
        </main>
    
    </body>

</html>