header {
    background-color: #ff815b;
    color: white;
    text-align: center;
    padding: 1em;
}

body {
    background-color: #FFFFFF;
}

menu {
    background-color: #ffc6bc;
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;

    gap: 300px;
}

a {
    color: white;
    text-decoration: none;
    padding: 1em 2em;
    font-size: 1.2em;
}

a:hover {
    background-color: #ffddd7;
}

main {
    padding: 2em;
}